body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    color: #363636;
    background: rgb(203, 220, 247);
}

.container{
    width: 100%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.header {
    color: #568DE5;
}

.survey-form{
    color: #222;
    background-color: white;
    padding: 30px;
    border-radius: 2%;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600;
}

button,
input[type='submit'],
input[type='button'],
input[type='checkbox'] {
    cursor: pointer;
}

  
input:not([type='checkbox']):not([type='radio']),
select {
  display: block;
}

input, select, button, textarea {
  color: #000000;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

input[type='text'], input[type='email']{
    width: 97%;
}

textarea {
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

  
button, input[type='submit'], input[type='button'] {
    padding-right: 30px;
    padding-left: 30px;
}

button:hover,
input[type='button']:hover {
    background: #568DE5;
    opacity: 70%;
    color: #fff;
}
  
input:focus,
select:focus,
button:focus,
textarea:focus {
    box-shadow: 0 0 0 2px #0096bfab;
}
  
input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
button:active {
    transform: translateY(2px);
}
  
input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.submit-button{
    background-color: #568DE5;
    color: #fff;
}

.form-group{
    margin-top: 20px;
}

